@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 70;
}

#brandMobile {
    width: 80px;
    margin-left: 25px;
}

#brandDesktop {
    width: 180px;
    position: absolute;
    left: 0;
    margin-left: 15px;
    display: none;
}

#menuButton {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    font-weight: bold;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0;
    text-align: right;
    padding-top: 85px;

    transition: .8s;
    visibility: hidden;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

#menu.active {

    width: 70%;
    visibility: visible;
}

#menu a {
    font-size: 1.5em;
    padding-right: 15px;
}

#menuComplement {
    width: 0;
    height: 100vh;
    
    position: fixed;
    top: 0;
    right: 0;
    z-index: 49;
    transition: .8s;
    visibility: hidden;
    overflow-x: hidden;

}

#menuComplement.active {
    width: 30%;
    visibility: visible;
}

#section1 {
    margin-top: 70px;
    height: 350px;
}

#section1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: bolder;
    color: black;
}

#section1 p {
    font-size: 1.2em;
    margin-left: 5px;
}

#section1 img {
    width: 300px;
    position: absolute;
    right: 0;
}

#howToRent {
    height: 800px;
    width: 300px;
    margin: auto;
    margin-top: 230px;
    text-align: center;
}

#tips {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

#tips #chooseBike, #callOperator, #hitTheRoad {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}

#tips p {
    width: 200px;
    margin: auto;
    font-size: 0.9em;
}

#chooseBike {
    background-image: url(imagens/1-removebg-preview.png);
}

#callOperator {
    background-image: url(imagens/2-removebg-preview.png);
}

#hitTheRoad {
    background-image: url(imagens/3-removebg-preview.png);
}

.selectBikeTitle, .selectBikeParagraph {
    text-align: center;
}

#selectBike {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#bikeMarks p {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
}

#bikeMarks p:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}

#bikeMarks .selected {
    background-color: brown;
    color: white;
}

.image {
    width: 310px;
    height: 190px;
    margin: 50px 0px;
    display: none;
    
}

.actived {
    display: block;
}

#description {
    margin-bottom: 50px;
}

table {
    border: 1px solid black;
}

table th {
    padding: 10px;
    color: white;
    background-color: brown;
}

table td {
    border: 1px solid black;
    padding: 5px;
    width: 190px;
}

#reserveButton {
   margin-top: 3px;
   width: 300px;
   height: 50px;
   font-weight: bold;
   border: none;
   background-color: brown;
   color: white;
   border: 1px solid black;
   border-radius: 2px;
}

#reserveButton:hover {
    color: white;
    background-color: rgb(197, 66, 66);
}